<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <script src="../js/istocken.js"></script>

    <title>Admin View Manager</title>
</head>

<body>
    <div id="main-container">
        <!-- Top Navigation Bar -->
        <div id="topNav">
            <div id="hamburger">&#9776;</div>
            <div>
                <h1 id="welcomeName"></h1>
            </div>
            <div id="imageClick">
                <img id="profileImg" src="../images/movik-logo.png" alt="Profile Image" />
            </div>
        </div>
        <div id="hiddenFeatures">
            <div>Your Account</div>
            <div id="logOut">Logout</div>
        </div>
        <!-- Side Navigation Bar -->
        <div id="sideNav">
            <button class="closeBtn">&times;</button>
            <ul>
                <li><i class="fas fa-home"></i><a href="./admin-home.html">Home</a></li>
                <li><i class="fas fa-user-cog"></i> <a href="manager-create.html">Create Manager</a></li>
                <li><i class="fas fa-eye"></i><a href="./admin-view-mng.html">View Manager</a></li>
                <li><i class="fab fa-salesforce"></i><a href="./admin-mg-sales.html">View Sales</a></li>
                <li><i class="fab fa-first-order-alt"></i><a href="./admin-mg-orders.html">View Orders</a></li>
            </ul>
        </div>
        <!-- MAIN CONTENT OF THE HOME PAGE -->
        <!-- <div id="content">
            <div class="content-box blu">
                <img src="img/video-posted.png" alt="">
                <h1>Total Video Posted</h1>
                <p id="videoPostedCount"></p>
            </div> -->
    </div>
    </div>
    <div id="content">
        <table class="responsive-table">
            <!-- Responsive Table Header Section -->
            <thead class="responsive-table__head">

                <th scope="col">Name</th>
                <th scope="col">Email Id</th>
                <th scope="col">Address</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
                </tr>
            </thead>
            <!-- Responsive Table Body Section -->
            <tbody class="responsive-table__body" id="adminView-Mng">
            </tbody>
        </table>
    </div>
    </div>

    <script src="../js/navcss.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function fetchManagerView() {
            try {
                const response = await fetch("http://localhost:9000/api/manager/specific-manager", {
                    headers: {
                        'Authorization': `Bearer ${sessionToken}`,
                        'Content-Type': 'application/json'
                    }
                });
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                const mgView = await response.json();
                const adminViewMng = document.getElementById("adminView-Mng");

                mgView.data.forEach((mgView, index) => {
                    console.log(mgView)
                    const row = document.createElement("tr");
                    row.classList.add("responsive-table__row");

                    row.innerHTML = `
                        <td data-label="Id">${mgView.id}</td>
                        <td data-label="Name">${mgView.name}</td>
                        <td data-label="Email">${mgView.email}</td>
                        <td data-label="Address">${mgView.address}</td>
                        <td data-label="Role">${mgView.role}</td>
                        <td data-label="Actions">
                            <button type="button"  class="btn btn-success" onClick="editData('${mgView.id}')" data-bs-toggle="modal" data-bs-target="#exampleModal" id="editBtn">Edit</button>
                            <button type="button" onClick="deleteProduct('${mgView.id}')" class="btn btn-danger" id="deleteBtn">Delete</button>
                        </td>
                    `;

                    adminViewMng.appendChild(row);
                });
            } catch (error) {
                console.error("There was a problem with the fetch operation:", error);
            }
        }
        document.addEventListener("DOMContentLoaded", fetchManagerView);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>