<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>
    <div id="preloader">
        <div id="loader">
            <img src="images/movik-logo.png" alt="Loading...">
        </div>
    </div>

    <!-- Main Content -->
    <div id="main-content" style="display: none;">
        <!-- Your main content goes here -->
        <h1>Welcome to My Website</h1>
        <p>This is the index page content.</p>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/script.js"></script>

</html>