<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Home</title>
</head>

<body style="background-color: #2c323a">
    <div id="preloader">
        <div id="loader">
            <img src="images/movik-logo.png" alt="Loading..." />
        </div>
    </div>

    <!-- Main Content -->
    <div id="main-content" style="display: none">
        <!-- Your main content goes here -->
        <div class="form-sec">
            <img src="images/movik-logo.png" alt="" class="login-img" />
            <form class="container-2" id="login-form" novalidate>
                <div>
                    <h3>Welcome Back</h3>
                    <!-- <div class="greeting">We're so excited to see you again!</div> -->
                </div>
                <div>
                    <div>
                        <label for="username" minlength="4">Username or Email</label>
                        <span class="error" aria-live="polite"></span>
                    </div>
                    <input id="username" type="text" required />
                </div>
                <div>
                    <div>
                        <label for="password">Password</label>
                        <span class="error" aria-live="polite"></span>
                    </div>
                    <input id="password" type="password" required minlength="8" />
                    <a href="#">Forgot your password?</a>
                </div>
                <button type="submit" id="submit-btn">Login</button>
                <span aria-live="assertive" id="js-loadingMsg" class="sr-only">
                    <!-- Use JavaScript to inject the loading message -->
                </span>
            </form>
        </div>
    </div>

    <script>
        // Function to simulate loading time and hide preloader
        window.addEventListener("load", function () {
            setTimeout(function () {
                document.getElementById("preloader").style.display = "none";
                document.getElementById("main-content").style.display = "block";
            }, 2000); // Simulate a 2-second loading time
        });

        async function loginpanel() {
            const username = document.getElementById("username").value;
            const pass = document.getElementById("password").value;

            const loginRequest = async (url) => {
                const response = await fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ email: username, password: pass }),
                });
                return response.json();
            };

            let data = await loginRequest("http://localhost:9000/api/super-admin-login");

            if (data.status === false) {
                if (data.message === "Wrong Credentials") {
                    alert(data.message);
                    return;
                } else {
                    data = await loginRequest("http://localhost:9000/api/admin/login-admin");

                    if (data.status === false) {
                        if (data.message === "Wrong Credentials") {
                            alert(data.message);
                            return;
                        } else {
                            data = await loginRequest("http://localhost:9000/api/manager/login-manager");

                            if (data.status === false) {
                                alert(data.message);
                                return;
                            }
                        }
                    }
                }
            }

            if (data.data.deactivatedBySuperAdmin) {
                alert("Your account has been deactivated!");
            } else {
                sessionStorage.setItem("token", data.token);
                sessionStorage.setItem("role", data.data.role);
                // Redirect to another page or show logged-in content here
                // Redirect based on role
                if (data.data.role === "super-admin") {
                    window.location.href = "./super-admin/home.html";
                } else if (data.data.role === "admin") {
                    window.location.href = "./admin/admin-home.html";
                } else if (data.data.role === "dealer" || data.data.role === "distributor") {
                    window.location.href = "./manager/manager-home.html";
                }
            }
        }

        document.getElementById("login-form").addEventListener("submit", async (e) => {
            e.preventDefault();
            await loginpanel();
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>