<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Super admin data</title>
</head>

<body style="background: linear-gradient(135deg, #71b7e6, #9b59b6);">
    <div id="main-container">
        <!-- Top Navigation Bar -->
        <div id="topNav">
            <div id="hamburger">&#9776;</div>
            <div>
                <h1 id="welcomeName"></h1>
            </div>
            <div id="imageClick">
                <img id="profileImg" src="images/movik-logo.png" alt="Profile Image" />
            </div>
        </div>
        <div id="hiddenFeatures">
            <div>Your Account</div>
            <div id="logOut">Logout</div>
        </div>
        <!-- Side Navigation Bar -->
        <div id="sideNav">
            <button class="closeBtn">&times;</button>
            <ul>
                <li><i class="fas fa-home"></i><a href="./home.html">Home</a></li>
                <li><i class="fas fa-volume-up"></i> <a href="./registerSpeaker.html">Register Speaker</a></li>
                <li><i class="fas fa-volume-up"></i> <a href="./category.html">Category List</a></li>
                <li><i class="fas fa-upload"></i><a href="./videoUpload.html">Video Upload</a></li>
                <li> <i class="fas fa-video"></i><a href="./videoList.html">All Videos</a></li>
                <li><i class="fas fa-headphones"></i> <a href="./speakerList.html">Speaker's List</a></li>
                <li><i class="fas fa-address-book"></i><a href="./userlist.html">User's List</a></li>
            </ul>
        </div>
        <!-- MAIN CONTENT OF THE HOME PAGE -->
        <!-- <div id="content">
            <div class="content-box blu">
                <img src="img/video-posted.png" alt="">
                <h1>Total Video Posted</h1>
                <p id="videoPostedCount"></p>
            </div> -->
    </div>
    </div>
    <div id="content">
        <table class="responsive-table">
            <!-- Responsive Table Header Section -->
            <thead class="responsive-table__head">
                <tr class="responsive-table__row">
                    <th class="responsive-table__head__title responsive-table__head__title--name">S.No
                        <svg version="1.1" class="up-arrow" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                            style="enable-background:new 0 0 512 512;" xml:space="preserve">
                            <path
                                d="M374.176,110.386l-104-104.504c-0.006-0.006-0.013-0.011-0.019-0.018c-7.818-7.832-20.522-7.807-28.314,0.002c-0.006,0.006-0.013,0.011-0.019,0.018l-104,104.504c-7.791,7.829-7.762,20.493,0.068,28.285    c7.829,7.792,20.492,7.762,28.284-0.067L236,68.442V492c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V68.442l69.824,70.162c7.792,7.829,20.455,7.859,28.284,0.067C381.939,130.878,381.966,118.214,374.176,110.386z" />
                        </svg>
                    </th>
                    <th class="responsive-table__head__title responsive-table__head__title--status">Name</th>
                    <th class="responsive-table__head__title responsive-table__head__title--country">Image</th>
                    <th class="responsive-table__head__title responsive-table__head__title--types">Inventory Count</th>
                    <th class="responsive-table__head__title responsive-table__head__title--update">Slug
                    </th>
                    <th rowspan="2" class="responsive-table__head__title responsive-table__head__title--country">Actions
                    </th>

                </tr>
            </thead>
            <!-- Responsive Table Body Section -->
            <tbody class="responsive-table__body">
                <tr class="responsive-table__row">
                    <td class="responsive-table__body__text responsive-table__body__text--name">
                        01.
                    </td>
                    <td class="responsive-table__body__text responsive-table__body__text--status">Sanjuu</td>
                    <td class="responsive-table__body__text responsive-table__body__text--country"><img
                            src="images/movik.jpeg" alt=""></td>
                    <td class="responsive-table__body__text responsive-table__body__text--types">452</td>
                    <td class="responsive-table__body__text responsive-table__body__text--update">Slug Name</td>

                    <td colspan="2">
                        <button type="button" class="btn btn-success">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>

                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    </div>


    <script src="js/navcss.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function register() {
            let name = document.getElementById("name").value;
            let username = document.getElementById("username").value;
            let pass = document.getElementById("password").value;
            let cpass = document.getElementById("cpassword").value;
            let role = document.querySelector('input[name="role"]:checked').value;

            if (pass === cpass) {
                fetch("http://localhost:9000/api/dealers/register", {
                    method: "POST",
                    headers: {
                        Authorization: sessionStorage.getItem("token"),
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        name: name,
                        username: username,
                        password: pass,
                        role: role
                    })
                })
                    .then(res => res.json())
                    .then((data) => {
                        console.log(data)
                    })
                // axios.post('http://localhost:9000/api/dealers/register', {
                //     name: name,
                //     username: username,
                //     password: pass,
                //     role: role
                // })
                //     .then(response => {
                //         console.log("Registration successful:", response.data);
                //         alert("Registration successful");
                //     })
                //     .catch(error => {
                //         console.error("Registration failed:", error);
                //         alert("Registration failed");
                //     });
            } else {
                console.log("Passwords do not match");
                alert("Passwords do not match");
            }
        }

        document.getElementById('RegistrationForm').addEventListener('submit', (e) => {
            e.preventDefault();
            register();
        });




    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>