<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <script src="../js/istocken.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> <!-- SweetAlert -->
    <title>View Manager</title>
</head>

<body>
    <div id="main-container">
        <!-- Top Navigation Bar -->
        <div id="topNav">
            <div id="hamburger">&#9776;</div>
            <div>
                <h1 id="welcomeName"></h1>
            </div>
            <div id="imageClick">
                <img id="profileImg" class="dropbtn" src="http://thememinister.com/crm/assets/dist/img/avatar5.png" alt="Profile Image" />
                <div id="dropdownContent" class="dropdown-content">
                    <a href="#"><i class="fas fa-user"></i> &nbsp; My Profile</a>
                    <a href="#" onclick="logout()"><i class="fas fa-sign-out-alt"></i> &nbsp; Signout</a>
                </div>
            </div>
        </div>
        <div id="hiddenFeatures">
            <div>Your Account</div>
            <div id="logOut">Logout</div>
        </div>
        <!-- Side Navigation Bar -->
        <div id="sideNav">
            <button class="closeBtn">&times;</button>
            <img src="../images/heading-logo.png" alt="">
            <ul>
                <li><i class="fas fa-home"></i><a href="./home.html">Home</a></li>
                <li><i class="fas fa-user"></i> <a href="./admin-create.html">Create Admin</a></li>
                <li><i class="fas fa-user"></i> <a href="./view-admin.html">View Admin</a></li>
                <li><i class="fas fa-user-cog"></i> <a href="./manager-create.html">Create Manager</a></li>
                <li><i class="fas fa-eye"></i> <a href="./manager-view.html">View Manager</a></li>
                <li><i class="fab fa-salesforce"></i><a href="./view-sales.html">View Sales</a></li>
                <li><i class="fab fa-first-order-alt"></i><a href="./view-orders.html">View Orders</a></li>
                <li><i class="fas fa-eye"></i><a href="./product-create.html">Create Product</a></li>
                <li><i class="fas fa-upload"></i><a href="./product-view.html">View Product</a></li>
                
            </ul>
        </div>
    </div>
    <div id="content">
        <table>
            <!-- Responsive Table Header Section -->

            <thead>
                <tr>
                    <!-- <th scope="col">Id</th> -->
                    <th scope="col">Name</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <!-- Responsive Table Body Section -->
            <tbody class="responsive-table__body" id="managerBody">
            </tbody>
        </table>
    </div>
    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Update Admin Data</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="editForm">
                        <div class="mb-2">
                            <label for="edit-Name" class="form-label"> Name</label>
                            <input type="text" class="form-control" id="edit-Name" >
                        </div>

                        <div class="mb-2">
                            <label for="edit-Email" class="form-label"> Email</label>
                            <input type="text" class="form-control" id="edit-Email" >
                        </div>


                        <!-- <div class="mb-2">
                            <label for="edit-Role" class="form-label">Role</label>
                            <input type="number" class="form-control" id="edit-Role" required>
                        </div> -->
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



    <script src="../js/navcss.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        let currentEditId = null;
        async function fetchManagerData() {
            try {
                const response = await fetch("https://movik.onrender.com/api/get-admin", {
                    headers: {
                        'Authorization': `Bearer ${sessionToken}`,
                        'Content-Type': 'application/json'
                    }
                });
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                const mgData = await response.json();
                const managerBody = document.getElementById("managerBody");

                mgData.data.forEach((mgData, index) => {
                    const row = document.createElement("tr");
                    row.classList.add("responsive-table__row");

                    row.innerHTML = `


                 <td data-label="Name">${mgData.name}</td>
                         <td data-label="Email">${mgData.email}</td>



                         <td data-label="Role">${mgData.role}</td>
                          <td data-label="Actions">
                            <button type="button"  class="btn btn-success" onClick="editData('${mgData.id}')" data-bs-toggle="modal" data-bs-target="#exampleModal" id="editBtn">Edit</button>
                        </td>   
                    `;

                    managerBody.appendChild(row);
                });
            } catch (error) {
                console.error("There was a problem with the fetch operation:", error);
            }
        }

        function editData(id){
            currentEditId = id;
            fetch(`https://movik.onrender.com/api/get-admin?id=${id}`,{
                method: 'GET',
                headers: {
                    Authorization: `Bearer ${sessionToken}`
                }
            })
            .then(res => res.json())
            .then((data)=>{
                document.getElementById('edit-Name').value = data.data[0].name;
                document.getElementById('edit-Email').value = data.data[0].email;
            })
        }

        async function updateData(event) {
            event.preventDefault();
            const name = document.getElementById("edit-Name").value;
            const email = document.getElementById("edit-Email").value;

            const obj = { name,email };

            try {
                const res = await fetch(`https://movik.onrender.com/api/super-admin/update-admin/${currentEditId}`, {
                    method: 'PATCH',
                    headers: {
                        "Content-Type": "application/json",
                        Authorization: `Bearer ${sessionToken}`
                    },
                    body: JSON.stringify(obj)
                });
                const data = await res.json();

                if (data.status) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Admin Updated successfully!',
                        text: 'Admin Updated successfully!',
                    }).then(() => location.reload());
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error in Admin Update!',
                        text: 'Error in Admin Update!',
                    });
                }
            } catch (error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error in Admin Update!',
                    text: 'An error occurred while updating the Admin.',
                });
                console.error('Error updating Admin:', error);
            }
        }

        document.getElementById("editForm").addEventListener("submit", updateData);

        document.addEventListener("DOMContentLoaded", fetchManagerData);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>