<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <script src="../js/istocken.js"></script>

    <title>View Manager</title>
</head>

<body>
    <div id="main-container">
        <!-- Top Navigation Bar -->
        <div id="topNav">
            <div id="hamburger">&#9776;</div>
            <div>
                <h1 id="welcomeName"></h1>
            </div>
            <div id="imageClick">
                <img id="profileImg" src="../images/movik-logo.png" alt="Profile Image" />
            </div>
        </div>
        <div id="hiddenFeatures">
            <div>Your Account</div>
            <div id="logOut">Logout</div>
        </div>
        <!-- Side Navigation Bar -->
        <div id="sideNav">
            <button class="closeBtn">&times;</button>
            <ul>
                <li><i class="fas fa-home"></i><a href="./home.html">Home</a></li>
                <li><i class="fas fa-user"></i> <a href="./admin-create.html">Create Admin</a></li>
                <li><i class="fas fa-user-cog"></i> <a href="./manager-create.html">Create Manager</a></li>
                <li><i class="fas fa-eye"></i> <a href="./manager-view.html">View Manager</a></li>
                <li><i class="fab fa-salesforce"></i><a href="./view-sales.html">View Sales</a></li>
                <li><i class="fab fa-first-order-alt"></i><a href="./view-orders.html">View Orders</a></li>
                <li><i class="fas fa-eye"></i><a href="./product-create.html">Create Product</a></li>
                <li><i class="fas fa-upload"></i><a href="./product-view.html">View Product</a></li>
            </ul>
        </div>
        <!-- MAIN CONTENT OF THE HOME PAGE -->
        <!-- <div id="content">
            <div class="content-box blu">
                <img src="img/video-posted.png" alt="">
                <h1>Total Video Posted</h1>
                <p id="videoPostedCount"></p>
            </div> -->
    </div>
    </div>
    <div id="content">
        <table>
            <!-- Responsive Table Header Section -->

            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email Id</th>
                    <th scope="col">Role</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <!-- Responsive Table Body Section -->
            <tbody class="responsive-table__body" id="managerBody">
            </tbody>
        </table>
    </div>
    </div>

    <script src="../js/navcss.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function fetchManagerData() {
            try {
                const response = await fetch("http://localhost:9000/api/get-admin", {
                    headers: {
                        'Authorization': `Bearer ${sessionToken}`,
                        'Content-Type': 'application/json'
                    }
                });
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                }
                const mgData = await response.json();
                const managerBody = document.getElementById("managerBody");

                mgData.data.forEach((mgData, index) => {
                    console.log(mgData);
                    const row = document.createElement("tr");
                    row.classList.add("responsive-table__row");

                    row.innerHTML = `
                          <td data-label="Id">${index + 1}</td>


                 <td data-label="Name">${mgData.name}</td>
                         <td data-label="Email">${mgData.email}</td>



                         <td data-label="Role">${mgData.role}</td>
                          <td data-label="Actions">
                            <button type="button"  class="btn btn-success" onClick="editData('${mgData.id}')" data-bs-toggle="modal" data-bs-target="#exampleModal" id="editBtn">Edit</button>
                        </td>
                    `;

                    managerBody.appendChild(row);
                });
            } catch (error) {
                console.error("There was a problem with the fetch operation:", error);
            }
        }
        document.addEventListener("DOMContentLoaded", fetchManagerData);
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>